{% extends 'security.html.twig' %}

{% block title %}{{parent()}} Mot de passe{% endblock %}

{% block body %}
	<h1>Mot de passe</h1>
	<form method="post">
		{{ form_start(form) }}
		{% for label, messages in app.flashes(['success', 'danger']) %}
			{% for message in messages %}
				<div class="flash-{{ label }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

		{% if app.user %}
			<div class="mb-3">
				{% trans %}You are logged in as {% endtrans %} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
			</div>
		{% endif %}

		<div class="txt_field">
			{{ form_widget(form.email) }}
			<span></span>
			<label>Email</label>
		</div>
		<div class="txt_field">
			{{ form_widget(form.password) }}
			<span></span>
			<label>Mot de passe</label>
		</div>
		<div class="pass">.</div>

		<input type="hidden" name="_csrf_token"
			   value="{{ csrf_token('authenticate') }}"
		>

		{#
		Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
		See https://symfony.com/doc/current/security/remember_me.html

		<div class="checkbox mb-3">
			<label>
				<input type="checkbox" name="_remember_me"> Remember me
			</label>
		</div>
		#}


		<div class="pass"></div>
		<input type="submit" value="Modifier">
		<div class="signup_link">.</div>
		{{ form_end(form) }}


{% endblock %}
