{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} GNEPA{% endblock %}

{% block body %}
	<div class="wrapper">
		<div class="container">
			<div class="row" data-aos="zoom-in-left" data-aos-duration="3000">
				<div class="col-md-12">
					<h3>ASCCI</h3>
					<h5>{{ activite.nom }}</h5>
					<p>
						{{ activite.description|raw }}
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col bouton" data-aos="fade-right" data-aos-duration="3000" >
					<a href="#" class="btn btn-primary btn-lg" onclick="matricule()"><i class="las la-save"></i> S'inscrire </a>
					<a href="#" class="btn btn-outline-danger btn-lg"><i class="las la-hand-holding-usd"></i> Paiement</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
        function matricule() {
            Swal.fire({
                title: 'Entre ton matricule',
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: '<i class="fas fa-search"></i> Valider',
                inputPlaceholder: 'Entre ton matricule',
                showLoaderOnConfirm: true,
                cancelButtonText: 'Annuler',
                preConfirm: (matricule) => {
                    //return fetch(`//api.github.com/users/${login}`)
                    return fetch(`{{ absolute_url(path('app_home')) }}ajax/${matricule}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(response.statusText)
                            }
                            let matricule = response.matricule;
                            //console.log(matricule)
                            return response.json()

                        })
                        .catch(error => {
                            Swal.showValidationMessage(
                                `Demande échouée: ${error}`
                            )
                        })
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.isConfirmed) {
                    let donnee = result.value
                    if (!donnee){
                        window.location = "{{ absolute_url(path('app_recherche_echec')) }}"
                    }else{
                        console.log(donnee.matricule)
                        //dump();
                        window.location = "{{ absolute_url(path('conafor_dashbord')) }}";
                        //window.location = "{{ absolute_url(path('app_home')) }}recherche/matricule/"+ donnee.slug;
                    }
                }
            })
        }
	</script>
{% endblock %}
