{{ form_start(form) }}
    <div class="formulaire">
        <div class="form-row">
            <div class="form-column-2">{{ form_row(form.code) }}</div>
            <div class="form-column-2">{{ form_row(form.nom) }}</div>
        </div>
        <div class="form-row">
            <div class="form-column-1">{{ form_row(form.description) }}</div>
        </div>
        <div class="form-row">
            <div class="form-column-2">{{ form_row(form.debutActivite) }}</div>
            <div class="form-column-2">{{ form_row(form.finActivite) }}</div>
            <div class="form-column-2">{{ form_row(form.debutPeriode) }}</div>
            <div class="form-column-2">{{ form_row(form.finPeriode) }}</div>
        </div>
        <div class="align-right">
            {{ form_widget(form) }}
            <button class="bouton">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>

{{ form_end(form) }}
