{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Candidature de {{ candidater.candidat.nom }} {{ candidater.candidat.prenoms }}{% endblock %}

{% block body %}
	<div class="wrapper page-secondaire">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h5 class="titre">Formulaire</h5>
				</div>
			</div>
			<form action="{{ path('candiat_paiement_validation') }}" method="post" id="paiement">
			<div class="row">
				<div class="col">
						<h6 class="scoute">Informations scoutes</h6>
						<div class="info-scoute row form-group">
							<div class="col-md-6">
								<label for="scout_nom" class="form-label">Nom</label>
								<input type="text" class="form-control" value="{{ candidater.candidat.nom }}" readonly>
							</div>
							<div class="col-md-6">
								<label for="scout_prenom" class="form-label">Prenoms</label>
								<input type="text" class="form-control" value="{{ candidater.candidat.prenoms }}" readonly>
							</div>
							<div class="col-md-6">
								<label for="scout_datenaissance" class="form-label">Date de naissance</label>
								<input type="date" class="form-control" value="{{ candidater.candidat.dateNaissance }}" readonly>
							</div>
							<div class="col-md-6">
								<label for="scout_lieunaissance" class="form-label">Date de naissance</label>
								<input type="text" class="form-control" value="{{ candidater.candidat.lieuNaissance }}" readonly>
							</div>
							<div class="col-md-6">
								<label for="scout_region" class="form-label">Region</label>
								<input type="text" class="form-control" value="{{ candidater.candidat.region.nom }}" readonly>
							</div>
							<div class="col-md-6">
								<label for="scout_fonction" class="form-label">Fonction</label>
								<input type="text" class="form-control" value="{{ candidater.candidat.fonction }}" readonly>
							</div>
							<div class="col-md-6">
								<label for="scout_matricule" class="form-label">Matricule</label>
								<input type="text" class="form-control" value="{{ candidater.candidat.matricule }}" readonly>
							</div>
							<div class="col-md-6">
								<label for="scout_cartescoute" class="form-label">Carte scoute</label>
								<input type="text" class="form-control" value="{{ candidater.candidat.carteScoute }}" readonly>
							</div>
							<div class="col-md-6">
								<label for="scout_dateentree" class="form-label">Date d'entrée dans le scoutisme <span style="color: red; font-size: .9rem; font-weight:bold;">*</span></label>
								<input type="text" class="form-control" value="{{ candidater.candidat.dateEntree }}" readonly>
							</div>
						</div>

						<h6 class="perso">Informations professionnelles</h6>
						<div class="info-perso row form-group">
							<div class="col-md-6">
								<label for="scout_etude" class="form-label">Niveau d'étude</label>
								<input type="text" class="form-control" value="{{ candidater.candidat.niveauEtude }}" readonly>
							</div>
							<div class="col-md-6">
								<label for="scout_profession" class="form-label">Profession actuelle</label>
								<input type="text" class="form-control" value="{{ candidater.candidat.profession }}" readonly>
							</div>
							<div class="col-md-6">
								<label for="scout_residence" class="form-label">Lieu de résidence</label>
								<input type="text" class="form-control" value="{{ candidater.candidat.residence }}" readonly>
							</div>
							<div class="col-md-6">
								<label for="scout_email" class="form-label">Adresse email</label>
								<input type="email" class="form-control" value="{{ candidater.candidat.email }}" readonly>
							</div>
							<div class="col-md-6">
								<label for="scout_contact" class="form-label">Contact</label>
								<input type="text" class="form-control" value="{{ candidater.candidat.contact }}" readonly>
							</div>
						</div>
				</div>
			</div>
				<div class="row mt-5 mb-5">
					<div class="col text-center montant">
						Montant: <span>{{ montant|number_format(0,'','.') }}</span> FCFA
					</div>
				</div>
			<div class="row">
				<div class="col bouton text-right">
					<input type="hidden" name="scout_candidat" value="{{ candidater.candidat.matricule }}">
					<input type="hidden" name="montant" value="{{ candidater.activite.montant }}">
					<input type="hidden" name="candidater" value="{{ candidater.id }}">
					<a href="{{ path('app_home') }}" class="btn btn-outline-secondary btn-lg"><i class="las la-reply"></i> Annuler</a>
					<button type="submit" class="btn btn-primary btn-lg"><i class="las la-donate"></i> Payer </button>
				</div>
			</div>
			</form>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$('#paiement').submit(function (event) {
			console.log('cliquez')
			event.preventDefault();
            var post_url = $(this).attr("action");
            var request_method = $(this).attr("method");
            var form_data = $(this).serialize();
            //var montant = document.getElementById("montant").value;
            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data,
                dataType: 'json',
			}).done(function (response) {
				console.log(response)
				var candidate = response.id
				$.ajax({
					type: "POST",
					url: "https://api-checkout.cinetpay.com/v2/payment",
					dataType: 'json',
					data: {
                        "amount" : response.montant,
						"currency": "XOF",
						"apikey": '18714242495c8ba3f4cf6068.77597603',
						'site_id': 356950,
						"transaction_id": response.id_transaction,
						"description": response.description,
						"return_url": '{{ absolute_url(path('recu_paiement', {'matricule': response.matricule})) }}',
						"notify_url": '{{ absolute_url(path('cinetpay_notify')) }}',
						"customer_id": response.matricule,
						"customer_name": response.nom,
						"customer_surname": response.prenoms,
						"customer_city": response.region
					}
				}).done(function (result) {
					console.log(result)
					if (result.code == '201'){
                        $.ajax({
							url: "{{ absolute_url(path('cinetpay_paiement')) }}",
							type: 'POST',
							dataType: 'json',
							data:{
                                'api_response_id': result.api_response_id,
								'token': result.data.payment_token,
								'url': result.data.payment_url,
								'candidater': candidate
							}
						}).done(function (res) {
							window.location = res.url
                        })
					}
                })
            })
        })
	</script>
{% endblock %}
